<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.hyperdev.tungguin">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning"
            tools:replace="android:allowBackup">
        <activity android:name=".view.ui.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.ui.MainPage">
        </activity>
        <activity android:name=".view.ui.LoginPage">
        </activity>
        <activity android:name=".view.ui.RegisterPage">
        </activity>
        <activity android:name=".view.ui.Dashboard">
        </activity>
        <activity android:name=".view.ui.ProfileActivity">
        </activity>
        <activity android:name=".view.ui.ChangePassActivity">
        </activity>
        <activity android:name=".view.ui.ResetPassActivity">
        </activity>
        <activity android:name=".view.ui.TopUpActivity">
        </activity>
        <activity android:name=".view.ui.HistoryActivity">
        </activity>
    </application>

</manifest>